section {
  margin: 7rem 0;

  main div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;

    @media (max-width: 550px) {
      gap: 2.5rem;
    }

    @media (max-width: 440px) {
      gap: 0.5rem;
    }
  }

  > div {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 5%;

    .share-box,
    .bag-box {
      width: 400px;
      height: 400px;
      margin-top: 20px;
      background-size: cover;
      border-radius: 0.4rem;

      img {
        width: 400px;
        border-radius: 0.4rem;
      }
    }

    .share-box {
      box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.5);
    }

    .bag-box {
      box-shadow: 0px 0px 30px 10px rgb(0 0 0 / 75%);
    }
  }

  @media (max-width: 880px) {
    > div {
      flex-direction: column;
      align-items: center;

      @media (max-width: 440px) {
        .share-box,
        .bag-box {
          width: 250px;
          height: 250px;

          img {
            width: 250px;
          }
        }
      }
    }
  }
}

button {
  border: 0;
  background: radial-gradient(ellipse at 50% 50%,rgba(0, 0, 0, 0.438) 20%,transparent 72%);
  font-size: 17px;
  transform: translateY(-20px);

  @media (max-width: 550px) {
    scale: 0.7;
  }

  @media (max-width: 440px) {
    scale: 0.4;
  }

  &:focus-visible {
    outline: none
  }
}

.main {
  width: 70px;
  margin: auto;
  position: relative;
  transform: rotateZ(0deg);
  isolation: isolate;
  scale: 1;
  transition: all 1.5s;
}

.main:hover {
  transform: rotateZ(240deg);
  scale: 2;
  /* filter: drop-shadow(10px,10px,10px,white); */
  filter: drop-shadow(-1px -1px 5px #e7e969);
}

.rings {
  position: absolute;
  width: 200px;
  height: 100px;
  /* background-color: #000000; */
  border-radius: 150px 150px 0 0;
  background: radial-gradient(circle at 50% 100%,transparent 30%, #e7e969 40%,#404D44 50%,#7f8644 60%,#4d4c40 70%,transparent);
}

#saturn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(80deg,#e7e969,#7f8644,#000000);
}

#ring1 {
  transform: rotateX(80deg);
  top: -20px;
  left: -65px;
}

#ring2 {
  transform: rotateX(-100deg);
  left: -65px;
  z-index: -1;
  top: -3px;
}

.asteriods-large {
  position: absolute;
  width: 8px;
  height: 10px;
  border-radius: 15px 8px;
  background: linear-gradient(220deg,#77776f,#98a359,#311515);
  transform: rotateZ(0deg);
  transition: all 3s;
}

#asteriod1 {
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

#asteriod2 {
  top: 35px;
  height: 10px;
  left: -55px;
}

#asteriod3 {
  top: 35px;
  height: 8px;
  left: 85px;
}

#asteriod4 {
  top: 40px;
  height: 4px;
  width: 4px;
  left: -40px;
}

#asteriod5 {
  top: 35px;
  height: 4px;
  width: 4px;
  left: 82px;
}

.asteriods-small {
  position: absolute;
  width: 4px;
  height: 3px;
  border-radius: 15px 8px;
  background: linear-gradient(80deg,#77746f,#a38559,#311515);
  transform-origin: 50px 50px;
  transform: rotateZ(0deg);
  transition: all 3s;
}

#asteriod6 {
  top: 6px;
  left: -5px;
  border-radius: 50%;
}

#asteriod7 {
  top: 15px;
  left: -35px;
}

#asteriod8 {
  top: 35px;
  left: 65px;
}

#asteriod9 {
  top: 60px;
  left: -10px;
}

#asteriod10 {
  top: 15px;
  left: 112px;
}

#explore {
  position: absolute;
  top: 32px;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 
               -1px -1px 0px var(--roxo), 
               -1px 1px 0px var(--roxo),                    
                1px -1px 0px var(--roxo),                  
                1px 0px 0px var(--roxo);
  color: hsl(0, 0%, 100%);
  left: 10px;
  transition: all 3s;
}

.main:hover > .asteriods-large,.main:hover > .asteriods-small {
  transform: translateX(28px);
}

.main:hover > #explore {
  translate: -10px 20px;
  transform: rotateZ(120deg);
}

.main:not(hover) > #explore {
  translate: 0px;
  transform: rotateZ(0deg);
}

.main:not(hover) > .asteriods-large,.main:not(hover) > .asteriods-small {
  transform: translateX(0px);
}

.main:is(:active) > #explore {
  translate: -100px 200px;
}

.main:is(:active) {
  translate: -200px;
}