.popup {
  .form-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2.5rem;

    > div {
      display: flex;
      justify-content: center;
      gap: 40px;
      width: 100%;

      div.popup-fields {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 50%;
        max-width: 400px;
        min-width: 240px;

        &.popup-fields input {
          width: 100%;
        }
      }
    }

    div.field-description {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      fieldset {
        border: 2px solid #ffffff;
        border-radius: 10px;
        text-align: justify;
        padding: 15px;
        width: 100%;
        max-width: 380px;
      }

      legend {
        padding: 0px 5px;
      }
    }

    div.media-project {
      display: flex;
      flex-direction: column;
      gap: 2.5em;
      margin-bottom: 25px;

      div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;

        > div {
          width: 90%;
          min-width: 200px;
          max-width: 350px;

          input {
            width: 100%;
          }
        }

        span.remove-img {
          cursor: pointer;
          font-weight: 500;
          font-size: 30px;
          margin-top: 0.25em;
        }

        .packet-link > p {
          margin-top: 80px;
        }

        div.upload-image {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          gap: 20px;

          img {
            padding-bottom: 0.3em;
            cursor: pointer;
          }

          label {
            border: 1px solid #fff;
            border-radius: 10px;
            margin-top: 10px;
            height: 43px;
            justify-content: center;
            align-items: center;
            transition: 0.2s;

            &:hover {
              background-color: #fff;
            }
          }

          label:active,
          img:active {
            transform: scale(0.85);
          }

          input {
            width: 100%;
          }
        }
      }

      input.form-control {
        color: #ffffff;
        border: none;
        font-weight: 500;
        font-size: 20px;
        width: 100%;
        border: none;
        background-color: transparent;
        margin-top: 14px;

        &::placeholder {
          color: #ffffff;
        }
      }
    }

    .file-upload {
      display: none;
    }
  }
}
