@import "form-popup.scss"

.popup {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  border-radius: 0.4rem;
  background-color: #000000;
  position: absolute;
  min-width: 300px;
  width: 100%;
  max-width: 700px;
  margin: 5rem;
  padding: 50px;
  font-size: 20px;
  transition: all 0.4s;
  top: 0;
  transform: scale(0.001);
  opacity: 0;
  z-index: 15;

  .close-popup {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 30px;
    margin: 10px 20px;
  }

  .main-image-popup {
    > div {
      width: 157px;
      height: 132px;
      border: 1px solid #ffffff;
      border-radius: 10px;
      transition: 0.5s;

      &:active {
        transform: scale(0.9);
      }

      img {
        min-width: 155px;
        max-width: 155px;
        min-height: 129px;
        max-height: 129px;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    button.remove-img {
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 0.5rem;
      padding: 0.6rem;
      min-width: 155px;
      max-width: 155px;
      margin-top: 0.5rem;
      transition: 0.4s;

      &:hover {
        cursor: pointer;
        background-color: white;
        color: #000000;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .popup-description {
    height: 115px;
    max-height: 115px;
    width: 100%;
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    text-align: start;
    max-width: 380px;
    resize: none;

    &:focus-visible {
      outline: none;
    }
  }

  &:focus-visible {
    outline: none;
  }

  h1 {
    text-shadow: none;
  }

  .switch {
    margin-top: 20px;
  }

  @media screen and (max-width: 768px) {
    width: -webkit-fill-available;
    margin: 5rem 1rem;

    .form-popup > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.2rem;
      width: 100%;

      div.popup-fields {
        gap: 3rem;
      }
    }

    .form-popup div.media-project {
      gap: 50px;

      div {
        display: flex;
        align-items: center;
        gap: 22px;
        width: 100%;

        .packet-link > p {
          margin-top: 80px;
          text-align: center;
        }

        @media screen and (max-width: 500px) {
          div.upload-image {
            flex-direction: column;
            gap: 0;

            input,
            input::placeholder {
              font-size: 15px;
              text-align: center;
            }
          }

          span.remove-img {
            position: absolute;
            right: 3rem;
            margin-bottom: 2.5rem;
          }
        }
      }
    }
  }
}

.open {
  transform: scale(1);
  opacity: 1;
}

.validation-error {
  position: absolute;

  p:not(:is(.description)) {
    font-size: 16px;
    text-align: left;
  }
}
