@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

nav {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  align-self: stretch;
  z-index: 3;

  > button {
    display: none;
    height: 50px;
    align-items: center;
    font-size: 20px;
    padding: 0.7rem 1rem;
    background: none;
    border: none;
    color: white;
    order: 2;
    user-select: none;
    cursor: pointer;

    &:focus,
    &:hover {
      background-color: #fff4;
    }

    &:focus {
      pointer-events: none;
    }

    &:focus + ul {
      max-height: 300px;
    }
  }

  @media screen and (max-width: 768px) {
    > button {
      display: flex;
    }
  }

  > ul {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    transition: max-height 200ms linear;
    padding-left: 0;
    overflow: hidden;

    > .nav-item {
      display: flex;
      align-items: center;
      padding: 1rem 1rem;
      border: none;
      font-size: 16px;
      background-color: transparent;
      color: white;

      img {
        width: 40px;
        height: 40px;
        margin-right: 0.7rem;
        border-radius: 0.4rem;
      }

      &:not(:is(.active-page, input)):hover {
        box-shadow: inset 0 3px 0 var(--rosa);
      }

      &.active-page {
        background-color: var(--roxo);
      }

      > .perfilFoto {
        gap: 20px;
      }

      &:focus {
        outline: none;
      }
    }

    input::-webkit-search-cancel-button {
      margin-left: 0.8rem;
      border: 1px solid transparent;
      filter: hue-rotate(30deg) brightness(200%);
      cursor: pointer;
    }

    &:has(input:focus) ~ section.search-box,
    ~ section.search-box:has(:active) {
      display: block;
    }
  }

  @media screen and (max-width: 768px) {
    ul:has(a:active) {
      max-height: 300px;
    }

    > ul {
      flex-direction: column;
      justify-content: flex-start;
      max-height: 50px;

      > :last-child {
        order: -1;
      }

      > .nav-item {
        &:not(:is(.active-page, input)):hover {
          box-shadow: inset 3px 0 0 var(--rosa);
        }
      }
    }
  }
}

section.search-box {
  display: none;
  position: fixed;
  top: 51px;
  margin-left: 26.1rem;
  background-color: #000;
  width: 25rem;
  max-height: 18.5rem;
  z-index: 20;
  text-align: center;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.5);

  ul {
    width: 100%;
    list-style: none;
    max-height: 18.5rem;
    overflow-y: scroll;
    overflow-x: hidden;

    &:hover :not(:hover) {
      opacity: 0.3;
    }
  }

  div {
    padding: 0.5rem;
    background-color: #000;
    border-radius: 0 0 0.4rem 0.4rem;

    a {
      font-size: 16px;
      cursor: pointer;
      font-weight: bold;
      letter-spacing: 0.1rem;
    }
  }

  @media screen and (max-width: 860px) {
    width: 22rem;
  }

  @media screen and (max-width: 768px) {
    margin: 0;
    width: 100%;
    top: 50px;
  }
}
