div.comments-section {
  width: 100%;
  max-height: 250px;
  background: rgba(63, 0, 85, 0.58);
  border-radius: 0.4rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  opacity: 0.001;
  height: 0;
  transition: 0.4s;
  overflow: hidden;

  &.showing {
    height: auto;
    opacity: 1;
    padding: 1rem 0 1rem 1rem;
    margin-top: 1rem;
  }

  div.comments {
    max-height: 120px;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
      background-color: transparent
    }

    h3 {
      text-align: center;
      margin-right: 1rem;
    }
  }

  div.input {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
    justify-content: space-between;
    align-items: center;

    input {
      background: rgba(0, 0, 0, 0.33);
      border: 1px solid rgba(255, 255, 255, 0.62);
      border-radius: 0.4rem;
      padding-left: 1rem;
      height: 2rem;
      width: 90%;

      &:hover {
        outline: none;
      }
    }
  }

  @media (max-width: 535px) {
    gap: 1rem;

    h3 {
      font-size: 14px;
    }

    div.input {
      flex-direction: column;
      margin-right: 1rem;
      gap: 0.5rem;

      input {
        height: 1.5rem;
        font-size: 10px;
      }

      app-form-button {
        scale: 0.8;
      }
    }
  }
}