<div [ngClass]="popupVideo">
  <span class="close-popup" (click)="openVideo(iframeVideo)">&times;</span>
  <iframe
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    #iframeVideo
  ></iframe>
</div>
<div class="profile-project" *ngIf="mediaProject">
  <div class="profile-project-first-section">
    <div class="figure">
      <img src="{{ projectImg }}" alt="Imagem principal do projeto" />
    </div>
    <div>
      <p>{{ project.projectName }}</p>
      <a href="{{ project.link }}" target="_blank">
        {{ project.link }}
      </a>
      <textarea readonly>{{ project.description }}</textarea>
    </div>
  </div>
  <div class="figure">
    <img src="{{ mediaImg }}" alt="Imagem demonstrando mais sobre o projeto" />
    <app-thumbnail
      [link]="mediaProject.firstVideo"
      (click)="openVideo(iframeVideo, mediaProject.firstVideo)"
    ></app-thumbnail>
    <app-thumbnail
      [link]="mediaProject.secondVideo"
      (click)="openVideo(iframeVideo, mediaProject.secondVideo)"
    ></app-thumbnail>
  </div>
</div>
