<li>
  <div class="info-projects">
    <img
      class="main-img"
      src="{{ personalWorkImg }}"
      alt="Imagem principal do projeto"
    />
    <div class="titles">
      <p>{{ personalWork.personalWorkName }}</p>
      <a href="{{ personalWork.link }}" target="_blank">
        {{ personalWork.link }}
      </a>
    </div>
  </div>
  <div class="btn-projects">
    <img
      src="/assets/img/edit 2_.png"
      alt="Botão para editar o projeto"
      (click)="openPopup(personalWork.idPersonalWork!)"
    />
    <img
      src="/assets/img/trash 2_.png"
      alt="Botão para excluir o projeto"
      (click)="openAlert(personalWork.idPersonalWork!)"
    />
  </div>
</li>
